<div class="row">
  <% @plays.each do |play| %>
    <h2><%= link_to play.title, play_path(play) %></h2>
    <div><%= play.title %></div>
    <div><%= play.description %></div>
    <div><%= play.director %></div>
  <% end %>
</div>
